<section>
  <div class="img-banner">
    <img [src]="imgbanner" [title]="category"/>
  </div>
  <div class="path">
    <ul><li><fa-icon [icon]="faHouseDamage"></fa-icon></li><li><a [routerLink]="" style="color: #3c9ad5;">{{category}}</a></li></ul>
  </div>
</section>
<section class="banner-subcategory">
  <div style=" left: 4px;" (click)="prevButton()" class="arrow">
    <span style="transform: rotate(-45deg);"></span>
  </div>
  <figure>
    <img *ngFor="let ca of childs" [src]="ca.imglogo" [title]="ca.name"/>
  </figure>
  <div style="  right: 4px;padding-right: 8px;" (click)="nextButton()" class="arrow">
    <span style="transform: rotate(135deg);"></span>
  </div>
</section>
<section class="titleofproducts" *ngFor="let title of titlep;let i = index" (mousedown)="animateEnter($event,i)" (mouseup)="animateEnterup(i)">
  <div style="  left: 4px;" (click)="prevButton2(i)" class="arrow">
      <span style="transform: rotate(-45deg);"></span>
    </div>
  <div class="titlec">
    <h3><span>{{title}}</span> </h3>
  </div>
  <div class="parentproducts" style="overflow: hidden;"  >
    <div class="products">
      <div class="product-item" *ngFor="let product of products[i];let ii=index">
        <div class="product-image">
          <img [src]="product.img" />
        </div>
        <div class="ratestar" style="text-align: center;">
          <fa-icon [icon]="faStar" *ngFor="let i of [1,2,3,4,5]"></fa-icon>
        </div>
        <h3 (click)="routeProductId(product._id)">{{product.title}}</h3>
        <div class="product-price" style="color: #3c9ad5;text-align: center;">
          <p style="margin-bottom:4px;" *ngIf="product.discount">{{product.price*(100-product.discount)/100 +" LBP"}}</p>
          <p  [style]="styleprice(product.discount)">{{product.price +" LBP"}}</p>
        </div>
        <div class="product-icons">
          <fa-icon [icon]="faShoppingCart" (click)="addCartWishCompare(product._id,'cart',ii)"></fa-icon>
            <fa-icon [icon]="faHeart" (click)="addCartWishCompare(product._id,'wish',ii)"></fa-icon>
            <fa-icon [icon]="faBalanceScale" (click)="addCartWishCompare(product._id,'compare',ii)"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div style="  right: 4px;padding-right: 8px;" (click)="nextButton2(i)" class="arrow">
    <span style="transform: rotate(135deg);"></span>
  </div>
  </section>
