.shopcart {
  padding: 0px 32px;
}
.shopcart .title {
  display: flex;
  padding-top: 25px;
  justify-content: center;
}
.shopcart .title h1 {
  font-size: 28px;
  font-weight: bold;
}
.shopcart .btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.shopcart .btns button {
  height: 32px;
}
.child {
  border-top: 2px solid #3c9ad5;
  border-left: 1px solid #f1e4e4;
  background-color: white;
  margin-bottom: 50px;
}
.child div p {
  margin-bottom: 5px;
  margin-top: 7px;
}
.columns {
  display: flex;
}
.columns > div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #f1e4e4;
  border-right: 1px solid #f1e4e4;
}
button {
  height: 35px;
  width: 122px;
  border-radius: 6px;
  color: white;
  background-color: #3c9ad5;
  cursor: pointer;
  font-size: 13px;
  border: 2px solid #3c9ad5;
}
button:hover {
  color: #3c9ad5;
  background-color: white;

  transition: background-color 0.3s;
}
.columns .product {
  width: 640px;
  justify-content: flex-start;
  padding: 10px 15px;
}
.columns .product img {
  width: 106.45px;
  height: 106.45px;
  margin-right: 45px;
  cursor: pointer;
}
.product-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  cursor: pointer;
}
.product-info h2 {
  color: #3c9ad5;
  margin-bottom: 7px;
}
.price-subtotal {
  align-items: flex-start !important;
  padding-top: 18px;
}
.price-subtotal span {
  font-size: 24px;
}
.qtycart {
  width: 200px;
  padding-top: 22px;
  display: flex;
  font-size: 13px;
  position: relative;
  top: 12px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.qtycart button,
.qtycart input {
  margin-bottom: 10px;
}
.qtycart a {
  font-size: 15px;
  margin-bottom: 6px;
}
.qtycart input {
  height: 30px;
  width: 80px;
  text-align: center;
  color: gray;
  border: 1px solid #dfdfdf;
}
.delete {
  position: relative;
}
.delete fa-icon {
  position: absolute;
  left: 20px;
  top: 11px;
  color: #3c9ad5;
  cursor: pointer;
}
.deleteall {
  width: 135px;
  justify-content: space-between !important;
  color: #3c9ad5 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  cursor: pointer;
}
.coupon {
  width: 100%;
  justify-content: flex-end !important;
  padding: 22px;
}
.coupon button {
  margin-left: 56px;
}
.coupon input {
  margin-left: 12px;
}
.pay-info {
  width: 706px;
}
.pay-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pay-info > div span:last-child {
  font-size: 26px;
  width: 130px;
  line-height: 35.5px;
  text-align: right;
}
.btn-chk {
  font-size: 15px;
  width: 286px;
  position: relative;
  height: 52px;
}
.btn-chk fa-icon {
  font-size: 21px;
  position: absolute;
  left: 240px;
  top: 12px;
  transform: translate(0px) rotate(0deg);
  transition: transform 0.4s;
}
.btn-chk:hover fa-icon {
  transform: translate(10px) rotate(15deg);
}
