<section>
  <div class="info1">
    <div class="logo">
      <p>Ali <span style="color: #3c9ad5;">Cart</span></p>
    </div>
    <div>
      <h2>GET TO KNOW HICART</h2>
      <p>About Us</p>
      <p>Careers</p>
      <p>Contact Us</p>
      <p>Terms & Conditions</p>
      <p>FAQs</p>
    </div>
    <div>
      <h2>MAKE MONEY WITH US</h2>
      <p>Sell on HiCart</p>
      <p>Advertise Your Products</p>
      <p>Become an Affiliate</p>
      <p>Seller Terms & Conditions</p>
    </div>
    <div>
      <h2>MY ACCOUNT</h2>
      <p>View Cart</p>
      <p>My Wishlist</p>
      <p>Return Policy</p>
      <p>Warranty</p>
    </div>
    <div>
      <h2>NEWSLETTER</h2>
      <label for="inp" style="display: inline-block;margin-bottom: 28px;">Get The Latest News & Offers</label>
      <input id="inp" placeholder="Enter Email Adress"/>
      <p></p>
    </div>
  </div>
  <div class="btn-subscribe">
    <button>SUBSCRIBE NOW</button>
  </div>
  <div class="info2">
    <div>
      HiCart © 2022. All Rights Reserved. Areeba Master Card Visa Amex
    </div>
    <div>
      <fa-icon [icon]="faFacebookF"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </div>
  </div>
</section>
