<section>
  <div class="info1">
    <div class="logo">
      <p>Ali <span style="color: #3c9ad5;">Cart</span></p>
    </div>
    <div>
      <h2>GET TO KNOW HICART</h2>
      <p>About Us</p>
      <p>Careers</p>
      <p>Contact Us</p>
      <p>Terms & Conditions</p>
      <p>FAQs</p>
    </div>
    <div>
      <h2>MAKE MONEY WITH US</h2>
      <p>Sell on HiCart</p>
      <p>Advertise Your Products</p>
      <p>Become an Affiliate</p>
      <p>Seller Terms & Conditions</p>
    </div>
    <div>
      <h2>MY ACCOUNT</h2>
      <p>View Cart</p>
      <p>My Wishlist</p>
      <p>Return Policy</p>
      <p>Warranty</p>
    </div>
    <div>
      <h2>NEWSLETTER</h2>
      <label for="inp" style="display: inline-block;margin-bottom: 28px;">Get The Latest News & Offers</label>
      <input id="inp" placeholder="Enter Email Adress"/>
      <form [formGroup]="aFormGroup" class="g-recaptcha">
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"

          formControlName="recaptcha">
        </ngx-recaptcha2>
      </form>
    </div>
  </div>
  <div class="btn-subscribe">
    <button>SUBSCRIBE NOW</button>
  </div>
  <div class="info2">
    <div style="display: flex;
    align-items: center;">
      <span style="    margin-right: 25px;
      font-size: 12px;">HiCart © 2022. All Rights Reserved.</span>
      <img src="https://media.hicart.com/images/default/areeba-icon.png" style="width: 87.39px;height: 23px;margin-right: 3px;"/>
      <img src="https://media.hicart.com/images/default/master-icon.png" style="width: 34.03px;height: 23px;margin-right: 3px"/>
      <img src="https://media.hicart.com/images/default/visa-icon.png" style="width: 41.86px;height: 23px;margin-right: 3px"/>
      <img src="https://media.hicart.com/images/default/american-express-icon.png" style="width: 49.67px;height: 23px;margin-right: 3px"/>
    </div>
    <div>
      <fa-icon [icon]="faFacebookF"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </div>
  </div>
</section>
