<h2 style="padding: 8px;font-size: 28px;text-decoration: underline;">Offer Info</h2>
<div class="info">
  <form [formGroup]="v.form">
    <div >
      <span>Title : </span>
      <input [ngClass]="{'a': !readonly}"  [readonly]="readonly" formControlName="title"/>
    </div>
    <div >
      <span>Path : </span>
      <input [ngClass]="{'a': !readonly}"  [readonly]="readonly" formControlName="path"/>
    </div>

    <div >
      <button (click)="readonly=true;AddEdit()">{{uped}}</button>
    </div>
  </form>

</div>
<div class="child">
  <fa-icon [icon]="faPlus" (click)="readonly=false;uped='Add';" ></fa-icon>
  <div class="columns" style="height: 48px;">
    <div style="width: 260px;">ID</div>
    <div style="width: 184px;">Alt</div>
    <div style="width: 184px;">Path</div>
    <div style="width: 117px;">Select</div>
    <div style="width: 117px;">Edit</div>
    <div style="width: 84px;">Delete</div>
  </div>
  <div class="columns" *ngFor="let of of offers">
    <div style="width: 260px;color: #3c9ad5;;">{{of._id}}</div>
    <div style="width: 184px;color: #3c9ad5;padding: 7px;">{{of.title}}</div>
    <div style="width: 184px;"><img style="height: 110px;
      width: 130px;
      padding: 5px;border: 1px solid #3c9ad5;" [src]="of.path"/></div>
    <div style="width: 117px;"><button (click)="getOfferId(of._id)">Select</button></div>
    <div style="width: 117px;" (click)="readonly=false;uped='Edit'">Edit</div>
    <div style="width: 84px;" (click)="deleteOffer(of._id)">Delete</div>
  </div>
</div>



