<h1 style="font-weight: bold;margin-bottom: 72px;color: #333;">MY WISHLIST
</h1>
<form>
  <div class="child">
    <div class="columns">
      <div style="width: 558px;"></div>
      <div style="width: 70px;">QTY</div>
      <div style="width: 117px;">PRICE</div>
      <div style="width: 147px;"></div>
      <div style="width: 54px;"></div>
    </div>
    <div class="products" style="display: flex;">
      <div>
        <div class="img">
          <img style="width: 97.5px;height: 97.5px;" src=""/>
        </div>
      <div class="info-product">
        <p><a href="" style="font-size: 16px;color: #3c9ad5;text-transform: capitalize;">Idea, Mini DC Router UPS 5V, 9V, 12V - White</a></p>
        <p><span style="color: #333;font-weight: bold;">SKU:</span> IDEA</p>
        <textarea>PLEAZE ENTER YOUR COMMENTS...</textarea>
        <button style="width: 138px;">Update WhileList</button>
      </div>
      </div>
      <div class="qty">
        <input type="number" />
      </div>
      <div class="price">
        <p style="color: gray;margin-bottom: 20px;text-decoration: line-through;">784,000 LBP</p>
        <p style="color: #3c9ad5;">532,000 LBP</p>
      </div>
      <div style="width: 147px;
      padding: 12px;">
        <button style="margin-bottom: 12px;">Add to Cart</button>
        <button>Edit</button>
      </div>
    </div>
  </div>
  <div class="share">
    <a href="">ShareWishlist</a>
  </div>
  <div class="save-back">
    <a href="">Back</a>
  </div>
</form>

