<h1 style="font-weight: bold;margin-bottom: 72px;color: #333;">EDIT ACCOUNT INFORMATION
</h1>
<form [formGroup]="v.form">
  <div class="child">
    <h3>ACCOUNT INFORMATION</h3>
      <div>
        <p>FIRSTNAME<span style="color:red">*</span></p>
        <input type="text" formControlName="first" [ngClass]="{'error':v.firstname.invalid}"/>
      </div>
      <div>
        <p>LASTNAME<span style="color:red">*</span></p>
        <input type="text" formControlName="last" [ngClass]="{'error':v.lastname.invalid}"/>
      </div>
      <div>
        <p>EMAIL ADDRESS<span style="color:red">*</span></p>
        <input type="text" formControlName="email" [ngClass]="{'error':v.email.invalid}"/>
      </div>
      <div>
        <p>DATEOFBIRTH<span style="color:red">*</span></p>
        <input type="text" formControlName="dateofbirth" [ngClass]="{'error':v.dateofbirth.invalid}"/>
      </div>
      <div style="display: flex;
      align-items: center;">
        <fa-icon [icon]="faCheck" *ngIf="classRef.openpass"  (click)="classRef.openpass=!classRef.openpass"></fa-icon>
        <input type="checkbox" id="check" (click)="classRef.openpass=!classRef.openpass"/>
        <label  for="check">Change Password</label>
      </div>
  </div>
  <div class="child" *ngIf="classRef.openpass">
    <h3>CHANGE PASSWORD</h3>
      <div>
        <p>CURRNET PASSWORD<span style="color:red">*</span></p>
        <input type="text" formControlName="currentpass" [ngClass]="{'error':v.currentpas.invalid}"/>
      </div>
      <div>
        <p>NEW PASSWORD<span style="color:red">*</span></p>
        <input type="text" formControlName="newpass" [ngClass]="{'error':v.newpass.invalid}"/>
      </div>
      <div>
        <p>CONFIRM NEW PASSWORD<span style="color:red">*</span></p>
        <input type="text" formControlName="confirmpass" [ngClass]="{'error':v.confirmpass.invalid}"/>
      </div>
  </div>
  <div class="save-back">
    <a href="">Back</a>
    <button (click)="save()">Save</button>
  </div>
</form>
