<section>
  <div class="img-banner">
    <img [src]="imgbanner"/>
  </div>
  <div class="path">
    <ul><li><fa-icon [icon]="faHouseDamage"></fa-icon></li><li><a [routerLink]="" style="color: #3c9ad5;">{{category}}</a></li><li>{{subcategory}}</li><li *ngIf="subbcategory!=''">{{subbcategory}}</li></ul>
  </div>
  <div class="filter&listeproducts" style="display: flex;">
    <div class="filter">
      <h1>FILTER BY</h1>
      <div class="filter-name" *ngIf="cat">
        <span>CATEGORY</span>
        <fa-icon [icon]="changeIcon(0)" (click)="plusbool[0]=!plusbool[0]"></fa-icon>
      </div>
      <ul *ngIf="plusbool[0]">
        <li *ngFor="let filt of filter[0]">
          <input type="checkbox" style="margin-right: 10px;"/>
          <a [routerLink]="" style="  color: #3c9ad5;">{{filt._id+' ('+filt.total+')'}}</a>
        </li>
      </ul>
      <div class="filter-name">
        <span>PRICE</span>
        <fa-icon [icon]="changeIcon(1)" (click)="plusbool[1]=!plusbool[1]"></fa-icon>
      </div>
      <div class="pricee" *ngIf="plusbool[1]">
          <div class="slider" >
          <div class="field"></div>
          <input type="range" class="range" [value]="range1" min="1200000" max="100000000" (input)="range1=a1.value;range()" #a1/>
          <input type="range" class="range" style="transform: translateY(-24px);" [value]="range2" min="1200000" max="100000000" (input)="range2=a.value;range()" #a/>
        </div>
        <span style="margin-right: 118px;
        display: inline-block;
        width: 62.3px;">{{range2}}</span><span style="display: inline-block;
        margin-bottom: 20px;">{{range1}}</span>
        <div class="btnapply"><button>Apply</button></div>
      </div>

      <div class="filter-name">
        <span>BRAND</span>
        <fa-icon [icon]="changeIcon(2)" (click)="plusbool[2]=!plusbool[2]"></fa-icon>
      </div>
      <ul *ngIf="plusbool[2]">
        <li *ngFor="let filt of filter[1]">
          <input type="checkbox" style="margin-right: 10px;"/>
          <a [routerLink]="" style="  color: #3c9ad5;">{{filt._id+' ('+filt.total+')'}}</a>
        </li>
      </ul>
      <div class="filter-name">
        <span>CAPACITY</span>
        <fa-icon [icon]="changeIcon(3)" (click)="plusbool[3]=!plusbool[3]"></fa-icon>
      </div>
      <ul *ngIf="plusbool[3]">
        <ng-container *ngFor="let filt of filter[2]">
          <li *ngIf="filt._id">
            <input type="checkbox" style="margin-right: 10px;"/>
            <a [routerLink]="" style="  color: #3c9ad5;">{{filt._id+' ('+filt.total+")"}}</a>
          </li>
        </ng-container>
      </ul>
      <div class="filter-name">
        <span>TYPE</span>
        <fa-icon [icon]="changeIcon(4)" (click)="plusbool[4]=!plusbool[4]"></fa-icon>
      </div>
      <ul *ngIf="plusbool[4]">
        <ng-container *ngFor="let filt of filter[3]">
          <li *ngIf="filt._id">
            <input type="checkbox" style="margin-right: 10px;"/>
            <a [routerLink]="" style="  color: #3c9ad5;">{{filt._id+' ('+filt.total+")"}}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="listeproducts">
      <div style="display: flex;
      justify-content: space-between;
      padding: 22px 35px;">
        <div class="filter-price-name">
          <select style="width: 188px;" #selectfieldname (change)="fieldname=selectfieldname.value;changeSelect()">
            <option value="price">Price</option>
            <option value="title">Name</option>
          </select>
          <fa-icon [icon]="faArrowUp" style="color: #3c9ad5;" [ngClass]="{'faic1':sort=='1','faic2':sort=='-1'}" (click)="toggleAscDesc()"></fa-icon>
        </div>
        <div class="filter-show">
          <span style="color: #3c9ad5;">{{((+page-1)*(+limit)+1)+'-'+showingUntil()}} of {{total}}</span>
          <span>Show</span>
          <select style="width: 118px;"  #select (change)="limit=select.value;changeSelect()">
            <option>20</option>
            <option>40</option>
            <option>60</option>
          </select>
        </div>
      </div>
      <div class="products">
        <div class="product-item" *ngFor="let product of productss">
          <div class="product-image">
            <img [src]="product.img" />
          </div>
          <div class="ratestar" style="text-align: center;">
            <fa-icon [icon]="faStar" *ngFor="let i of [1,2,3,4,5]"></fa-icon>
          </div>
          <h3 (click)="routeProductId(product._id)">{{product.title}}</h3>
          <div class="product-price" style="color: #3c9ad5;text-align: center;">
            <p style="margin-bottom:4px;" *ngIf="product.discount">{{product.price*(100-product.discount)/100 +" LBP"}}</p>
            <p  [style]="styleprice(product.discount)">{{product.price +" LBP"}}</p>
          </div>
          <div class="product-icons">
            <fa-icon [icon]="faShoppingCart" (click)="''"></fa-icon>
            <fa-icon [icon]="faHeart" (click)="''"></fa-icon>
            <fa-icon [icon]="faBalanceScale" (click)="''"></fa-icon>
          </div>
        </div>
      </div>
      <div style="display: flex;
      justify-content: space-between;
      padding: 22px 35px;">
        <div class="filter-show">
          <span>{{page+'-'+limit}} of {{total}}</span>
          <span>Show</span>
          <select style="width: 118px;" #select2 (change)="limit=select2.value;changeSelect()">
            <option>20</option>
            <option>40</option>
            <option>60</option>
          </select>
        </div>
        <div class="pages">
          <ul>
            <li><fa-icon [icon]="faArrowUp" (click)="indexleftreight=indexleftreight-1;getPage(indexleftreight)"></fa-icon></li>
            <li *ngFor="let nb of list_pages" (click)="getPage(nb)" class="li-pages" [ngClass]="{'li-pages-selected':nb==1}">{{nb}}</li>
            <li><fa-icon [icon]="faArrowUp" (click)="indexleftreight=indexleftreight+1;getPage(indexleftreight)"></fa-icon></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
