.products-category {
  width: 210px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.products-category p a {
  color: #3c9ad5;
}
.products-category p a:hover {
  color: black;
}
section.banners .banners-routing {
  width: 100%;
  text-align: center;
}
section.banners .banners-routing span {
  width: 10px;
  height: 10px;
  background-color: #a59c9c;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
section.banners .banners-routing span.hover {
  background-color: #494949;
}
section.offers {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 12px 12px;
}
section.offers div.offer-item {
  width: 24%;
  margin-right: 12px;
  margin-bottom: 12px;
}
section.banners {
  width: 100%;
  overflow: hidden;
}
section.banners figure {
  display: flex;
  position: relative;
  transition: left 1s;
}

.titleofproducts {
  padding: 12px 30px 12px 35px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.titleofproducts .titlec {
  margin: 15px 0px;
}
.titleofproducts .titlec span {
  position: relative;
  top: 7px;
  display: inline-block;
  z-index: 2;
  background-color: white;
}
.titleofproducts .titlec h3 {
  z-index: 1;
  color: #3c9ad5;
  font-size: xx-large;
  font-weight: bold;
  border-bottom: 1px solid #3c9ad5;
}
.titleofproducts .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slidein1 120s infinite;
  position: relative;
  left: 0;
  width: 1714px;
  height: 490px;
}
.titleofproducts .products .product-item {
  width: 209px;
  height: 448px;
  border-radius: 6px;
  font-size: 17px;
  box-shadow: 3px 11px 9px #e9e9e9, -5px -5px 8px #e9e9e9;
}
.titleofproducts .products .product-item .product-image {
  display: flex;
  justify-content: center;
  padding: 7px;
  width: 205px;
}
.titleofproducts .products .product-item .product-image img {
  width: 191px;
  height: 191px;
}
.titleofproducts .products .product-item h3 {
  text-align: center;
  color: #3c9ad5;
  font-size: 17px;
}
.titleofproducts .products .product-item .product-icons {
  text-align: center;
  margin: 20px 0;
}
.titleofproducts .products .product-item .product-icons fa-icon {
  margin-left: 10px;
  color: #3c9ad5;
}
.titleofproducts .products .product-item .ratestar fa-icon {
  text-align: center;
  color: #a59c9c;
  font-size: 11px;
  margin-left: 4px;
}
