<h1 style="font-weight: bold;margin-bottom: 72px;color: #333;">MY DASHBOARD</h1>
<div class="accountInfo">
  <h2>ACCOUNT INFORMATION</h2>
  <div class="parent">
    <div class="child child1">
      <div class="titleAcc">
        <fa-icon [icon]="faUser"></fa-icon>
        <h4>Contact Information</h4>
      </div>
      <a href="">Edit</a>
      <span>ali kbar</span><br>
      <span>alliokbarrio1234@gmail.com</span><br>
      <a (click)="openaccinfo()">Change Password</a>
    </div>
    <div class="child child2">
      <div class="titleAcc">
        <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
        <h4>Subscriptions</h4>
      </div>
      <a href="">Edit</a>
      <span>You are currently subscribed to our Newsletter</span><br>
    </div>
  </div>
</div>
<div class="accountInfo">
  <h2>ADDRESS BOOK <a href="">Manage Addresses</a></h2>
  <div class="parent">
    <div class="child child1">
      <div class="titleAcc">
        <fa-icon [icon]="faHome"></fa-icon>
        <h4>Default Billing Address</h4>
      </div>
      <a href="">Edit Address</a>
      <span>You have not set a default billing address.</span><br>
    </div>
    <div class="child child2">
      <div class="titleAcc">
        <fa-icon [icon]="faCar"></fa-icon>
        <h4>Default Shipping Address</h4>
      </div>
      <a href="">Edit Address</a>
      <span>You have not set a default shipping address.</span><br>
    </div>
  </div>
</div>
